<mat-toolbar>
    <mat-toolbar-row>
        <img src="../../../assets/img/white.png">
        <button mat-icon-button color="link" [matMenuTriggerFor]="menu"><mat-icon>location_city</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeCity(1)">Skövde</button>
            <button mat-menu-item (click)="changeCity(2)">Lund</button>
            <button mat-menu-item (click)="changeCity(3)">Uppsala</button>
          </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="scooterActive"><p>Scooter is active</p></mat-toolbar-row>
</mat-toolbar>