#login {
    background-color: black;
    height: 100%;
    text-align: center;
}

.logo {
    width: 75%;
    max-width: 400px;
    display: block;
    margin: auto;
    padding-top: 20vh;
}

button {
    margin-top: 20vh;
}

mat-spinner {
    margin: auto;
    margin-top: 15vh;
}